body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
  font-size: 46px;
  font-weight: 700;
}

h2{
  font-size: 42px;
  font-weight: 400;
}

p{
  font-size: 16px;
  font-weight: 300;
}

/* banner top and header */

.banner-top {
  position: relative;
  width: 100%;
  height: 110vh;
  color: white;
}
  
.container-navbar{
  width: 75%;
  margin: auto;
}    

h1 .title-banner{
  font-size: 30px;
  font-weight: 700;
}

.li-navbar li a{
  width: 151px;
  text-align: center;
  font-size: 16px;
}

.navbar-tablet{
  display: none;
}

.order{
  background-color: white;
  color: black;
  
}

.title{
  padding: 6rem 0;
}
.brunch{
  margin: 12% 0 0 2%;
}
.brunch img{
  margin-top: -10%;
}

.container-title{
  margin-left: 7%;
}

.container-title h1 {
  font-size: 100px;
  font-weight: 600;
  color: white;
}
.container-title h2 {
  font-size: 60px;;
  font-weight: 400;
  color: white;
}

.check-menu{
  margin-top: 5%;
}

.check-menu a{
  color: #FFF;
  margin: 5% 0 0 1%;
}

.check-menu img{
  margin-left: -1%;
}

/* end banner top and header */

/* chef cuisto */

.chef-cuisto{
  padding-bottom: 7%;
}

.container-card{
  margin: auto;
  width: 75%;
  height: 100%;
}

.les-cartes{
  width: auto;
  height: auto;
  margin: -7% auto 7% auto;
}

.carte{
  border: solid 1px rgb(247, 244, 244);
  box-shadow: -1px 7px 20px -4px rgba(224, 224, 224, 0.75);
  border-radius: 60px 60px 0 0;
  width: 32%;
}

.carte .img{
  width: 17%;
  height: auto;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.carte .truc{
  margin-top: 19%;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.title-skill{
  margin-bottom: 7%;
}

.cuisto{
  position: relative;
}

.cuisto .info{
  position: absolute;
  top: 25%;
  left: 45%;
  background-color: white;
  box-shadow: 7px 9px 18px -11px rgb(161, 161, 161);
  padding: 5% 3% 3% 8%;
  width: 41vw;
}

.info .subtitle{
  font-weight: 400;
}

.footer-description-chef .subtitle{
  margin: 0;
}

/* end chef cuisto */

/* restaurants */

.restaurants{
  background: url('images/hachures-blanches.png') no-repeat top, url('images/hachureBlanches.png') no-repeat bottom, linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url('images/burger\ party.png');
  padding: 7% 0 5% 0;
}

.header-hachure-restau{
  width: 100vw;
  background: url("images/hachures-blanches.png");
}

.container-restau{
  width: 75%;
  margin: auto;
}

.restaurant{
  margin-top: 5%;
}

.restau{
  height: 700px;
  position: relative;
  margin-bottom: 10%;
}

.description-restau{
  position: absolute;
  top: 10%;
  z-index: 1;
  width: 45%;
}

.info-restau{
  padding: 10%;
  background-color: white;
}

.img-restau{
  margin-left: 40%;
  height: 100%;
}

.restaurants img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.description-restau-2{
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1;
  width: 45%;
}

.img-restau-2{
  width: 60%;
  height: 100%;
}

.header-description-restau{
  margin-bottom: 7%;
}

.main-description-restau{
  margin-bottom: 7%;
  line-height: 200%;
}

.bouton{
  border-radius: 0;
  padding: 2% 7% 2% 7%;
}

/* end restaurants */

/* menu */

.discover-menu{
  margin: 10% 0 10% 0;
}

.container-menu{
  width: 75%;
  margin: auto;
}

.menu-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 450px;
  grid-template-areas: 
        'img-menu title-menu'
        'img-menu description-menu';
}

.img-menu{
  grid-area: img-menu;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
          'one two'
          'three four';
  grid-gap: 2%;
}

.img-menu img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-menu .img{
  width: 300px;
  height: 300px;
  border-radius: none;
}

.one{
  grid-area: one;
}

.two{
  grid-area: two;
}

.three{
  grid-area: three;
}

.four{
  grid-area: four;
}

.header-description-menu{
  padding-top: 3%;
  text-align: center;
  grid-area: title-menu;
}

.header-description-menu h2{
  margin-bottom: 4%;
}

.description-menu{
  grid-area: description-menu;
}

.main-description-menu{
  margin-bottom: 15%;
}

.main-description-menu p{
  line-height: 300%;
}

/* end  menu */

/* comment */

.section-barman{
  color: white;
  background: #292929;
  position: relative;
}

.about{
  margin-top: -2%;
}

.message-barman{
  width: 50%;
  margin-top: 7%
}

.main-message-barman{
  margin: 5% 0 5% 0;
  line-height: 200%;
}

.name{
  margin-top: 5%;
  color: rgb(153, 153, 153);
}

.img-barman{
  width: 50%;
  overflow: hidden;
}

.business{
  width: 100%;
  height: 100%;
}

.hachures-blaches{
  width: 100%;
  position: absolute;
  top: -1%;
}

.hachureBlaches{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.icon{
  padding: 0 1% 0 1%;
}

/* end comment */

/* blog */

.recipes-blog{
  margin-bottom: 5%;
}

.title-blog{
  margin: 10% 0 5% 0;
}

.card-border{
  border: none;
}

.top-card{
  height: 15rem;
}

.articles .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shortdesc{
  margin-top: 20%;
}

/* end blog */

/* subscribe */

.newsletter{
  margin-bottom: 10%;
}

.container-join{
  width: 75%;
  margin: auto;  
  background: url("images/hachures-blanches.png") no-repeat top, #292929;
}

.join{
  margin: 0 7% 7% 10%;
  padding-top: 13%;
  color: #FFF;
}

.mail{
  width: 70%;
  margin: 15% 10% 0 0;
}

.submit-mail{
  width: 100%;
}

.input{
  width: 60%;
  height: 30%;
  margin-right: 2%;
  border-radius: 7px;
}

.submit{
  height: 30%;
  padding-right: 5%;
  padding-left: 5%;
  font-weight: bold;
}

/* end subscribe */

/* footer */

/* end footer */

/* responsive tablette */

@media (max-width: 1024px){
  .container-menu, .container-navbar, .container-title{
    width: 90%;
    margin: auto;
  }
  .container-join, .container-card, .container-restau{
    width: 100%;
  }
  .navbar{
    display: none;
  }
  .navbar-tablet{
    display: block;
  }
  .li-navbar{
    display: inline !important;
  }
  .li-navbar li a{
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding-top: 0;
  }
  .banner-top .title{
    padding-top: 2%;
  }
  .banner-top .title h1{
    font-size: 90px;
  }
  .banner-top .title h2{
    font-size: 55px;
  }
  .brunch{
    display: none !important;
  }
  .les-cartes{
    display: block !important;
    margin: 10% 0 10% 0;
  }
  .carte{
    width: 50%;
    flex-direction: unset;
    margin: auto;
    border: none;
    box-shadow: none;
  }
  .carte .img{
    width: auto;
  }
  .truc{
    width: auto !important;
  }
  .img-chef, .img-chef img{
    width: 100%;
  }
  .info{
    position: absolute;
    left: 2% !important;
    top: 75% !important;
    width: 96% !important;
  }
  .restaurants{
    margin-top: 40%;
    padding-top: 20%;
  }
  .header-restaurant{
    margin-bottom: 10%;
  }
  .img-restau{
    margin-left: 20%;
    height: 80%;
  }
  .description-restau, .description-restau-2{
    position: absolute;
    top: 35%;
    width: 70vw;
    height: 90%;
  }
  .info-restau{
    padding: 5%;
  }
  .info-restau h1{
    font-size: 38px;
  }
  .info-restau h2{
    font-size: xx-large;
  }
  .info-restau p{
    font-size: medium;
  }
  .img-restau-2{
    height: 80%;
    width: 80%;
  }
  .menu-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.30fr;
    grid-template-areas: 
          'title-menu'
          'img-menu' 
          'description-menu';
  }
  .img-menu{
    margin: 5% auto 10% auto;
  }
  .description-menu{
    padding: 0 10% 0 10%;
  }
  .main-description-menu p{
    line-height: 150%;
  }
  .about{
    display: block !important;
    margin: auto;
    padding-top: 10%;
  }
  .message-barman{
    margin: 0 auto 10% auto;
  }
  .img-barman{
    margin: auto;
    width: 100%;
  }
  .hachureBlaches{
    display: none !important;
  }
  .hachureGrises{
    display: block !important;
    width: 100%;
    position: absolute;
    bottom: -1%;
  }
  .recipes-blog{
    background-color: #F5F5F5;
    margin: 0;
    padding: 7% 0 7% 0;
  }
  .title-blog{
    margin-top: 0;
  }
  .card-blog{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card-border{
    width: 48% !important;
  }
  .top-card{
    height: 18rem;
  }
  .carte-body{
    padding: 10% 7% 5% 7%;
  }
  .shortdesc{
    margin-top: 10%;
  }
  .container-join{
    background: url("images/hachures-grises.png") no-repeat 0% -10%, #292929;
  }
  .join{
    margin-left: 5%
  }
  .mail{
    margin-top: 13%;
    margin-right: 5%;
  }
  .input{
    width: 100%;
    height: 35%;
    padding: 0;
    margin: 0 0 5% 0;
  }
  .submit{
    font-weight: bold;
  }
}
/* end responsive tablette */

/* responsive smartphone */

@media (max-width: 500px){
  .title-banner{
    font-size: 20px !important;
  }
  .navbar-tablet{
    padding-top: 5% !important;
  }
  .li-navbar{
    padding-top: 15%;
  }
  .title{
    padding-top: 10% !important;
  }
  .title_text h2{
    font-size: 27px !important;
  }
  .title_text h1{
    font-size: 40px !important;
  }
  .check-menu{
    margin-left: -4%;
    font-weight: bold;
  }
  .check-menu img{
    width: 40px;
  }
  .check-menu a{
    font-size: 10px;
  }
  .les-cartes{
    margin: 15% 0 15% 0;
  }
  .carte{
    display: block;
    width: 100%;
    margin-bottom: 5%;
  }
  .carte .img{
    width: 25%;
    margin: auto;
  }
  .carte .truc{
    width: 35% !important;
    margin: auto;
  }
  .carte .carte-body{
    padding-top: 5%;
  }
  .carte .carte-body p{
    display: none !important;
  }
  .info{
    width: 100% !important;
    left: 0 !important;
    top: 100% !important;
    border-radius: none !important;
    box-shadow: none !important;
  }
  .info h2{
    font-size: 28px;
    margin: 0;
  }
  .info h1{
    font-size: 35px;
    margin: 0;
  }
  .info .subtitle{
    font-size: 12px;
  }
  .main-description-chef p{
    font-size: 12px;
    line-height: 200%;
  }
  .restaurants{
    margin-top: 450px;
    padding-top: 150px;
  }
  .header-restaurant h2{
    font-size: 25px;
  }
  .header-restaurant h1{
    font-size: 34px;
  }
  .restau{
    height: 500px;
    margin-top: 10%;
    margin-bottom: 100%;
  }
  .header-description-menu h2{
    font-size: 25px;
  }
  .header-description-menu h1{
    font-size: 35px;
    margin: 5% 15% 5% 15%;
  }
  .img-restau, .img-restau-2{
    margin: 0;
    height: 50%;
    width: 100%;
  }
  .description-restau, .description-restau-2{
    top: 50%;
    width: 100%;
  }
  .description-restau h2, .description-restau-2 h2{
    font-size: 20px;
  }
  .description-restau h1, .description-restau-2 h1{
    font-size: 28px;
  }
  .main-description-restau p{
    padding: 0 5% 0 5%;
    font-size: 12px;
  }
  .info-restau{
    padding: 10% 5% 10% 5%;
  }
  .img-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
            'one'
            'two'
            'three'
            'four';
  }
  .description-menu{
    padding: 25% 0 0 0;
  }
  .main-description-menu p{
    line-height: 200%;
  }
  .footer-description-menu a{
    font-size: 25px;
  }
  .message-barman{
    width: 90%;
    margin-top: 10%;
  }
  .header-message-barman h1{
    font-size: 25px;
  }
  .main-message-barman p{
    margin-bottom: 10%;
  }
  .container-menu{
    margin: 0;
    width: 100%;
  }
  .title-blog{
    margin: 20% 0 20% 0;
  }
  .title-blog h2{
    font-size: 25px;
  }
  .title-blog h1{
    font-size: 35px;
    padding-top: 3%;
  }
  .articles{
    width: 100%;
  }
  .card-blog{
    flex-direction: column;
  }
  .top-card{
    height: 20rem;
  }
  .card-border{
    width: 100% !important;
  }
  .contact{
    display: block !important;
  }
  .join{
    margin-top: 0;
    padding-top: 25%;
  }
  .mail{
    width: 90%;
    margin: auto;
    padding-bottom: 20%;
  }
  .submit-mail{
    text-align: center;
  }
  .input{
    height: 60%;
  }
  .submit{
    height: 60%;
  }
}